-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: dis-ent-comp-project.c5ia8auia3qw.us-east-2.rds.amazonaws.com    Database: decProject
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `decProject`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `decProject` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `decProject`;

--
-- Temporary view structure for view `ALL_CUSTOMER_ORDERS`
--

DROP TABLE IF EXISTS `ALL_CUSTOMER_ORDERS`;
/*!50001 DROP VIEW IF EXISTS `ALL_CUSTOMER_ORDERS`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `ALL_CUSTOMER_ORDERS` AS SELECT 
 1 AS `ID`,
 1 AS `CUSTOMER_NAME`,
 1 AS `CUSTOMER_EMAIL`,
 1 AS `SHIPPING_INFO_ID_FK`,
 1 AS `PAYMENT_INFO_ID_FK`,
 1 AS `STATUS`,
 1 AS `DELIVERY_DATE`,
 1 AS `PAYMENT_CONFIRMATION_TOKEN`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `CUSTOMER_ORDER`
--

DROP TABLE IF EXISTS `CUSTOMER_ORDER`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CUSTOMER_ORDER` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `CUSTOMER_NAME` varchar(255) DEFAULT NULL,
  `CUSTOMER_EMAIL` varchar(255) DEFAULT NULL,
  `SHIPPING_INFO_ID_FK` int DEFAULT NULL,
  `PAYMENT_INFO_ID_FK` int DEFAULT NULL,
  `STATUS` varchar(255) DEFAULT 'New',
  `DELIVERY_DATE` date DEFAULT NULL,
  `PAYMENT_CONFIRMATION_TOKEN` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `SHIPPING_INFO_ID_FK` (`SHIPPING_INFO_ID_FK`),
  KEY `PAYMENT_INFO_ID_FK` (`PAYMENT_INFO_ID_FK`),
  CONSTRAINT `CUSTOMER_ORDER_ibfk_1` FOREIGN KEY (`SHIPPING_INFO_ID_FK`) REFERENCES `SHIPPING_INFO` (`ID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `CUSTOMER_ORDER_ibfk_2` FOREIGN KEY (`PAYMENT_INFO_ID_FK`) REFERENCES `PAYMENT_INFO` (`ID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CUSTOMER_ORDER`
--

LOCK TABLES `CUSTOMER_ORDER` WRITE;
/*!40000 ALTER TABLE `CUSTOMER_ORDER` DISABLE KEYS */;
/*!40000 ALTER TABLE `CUSTOMER_ORDER` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CUSTOMER_ORDER_LINE_ITEM`
--

DROP TABLE IF EXISTS `CUSTOMER_ORDER_LINE_ITEM`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CUSTOMER_ORDER_LINE_ITEM` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ITEM_ID` int DEFAULT NULL,
  `ITEM_NAME` varchar(255) DEFAULT NULL,
  `GENRE` varchar(255) DEFAULT NULL,
  `PLATFORM` varchar(255) DEFAULT NULL,
  `QUANTITY` int DEFAULT NULL,
  `CUSTOMER_ORDER_ID_FK` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `ITEM_ID` (`ITEM_ID`),
  KEY `CUSTOMER_ORDER_ID_FK` (`CUSTOMER_ORDER_ID_FK`),
  CONSTRAINT `CUSTOMER_ORDER_LINE_ITEM_ibfk_1` FOREIGN KEY (`ITEM_ID`) REFERENCES `ITEM` (`ID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `CUSTOMER_ORDER_LINE_ITEM_ibfk_2` FOREIGN KEY (`CUSTOMER_ORDER_ID_FK`) REFERENCES `CUSTOMER_ORDER` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CUSTOMER_ORDER_LINE_ITEM`
--

LOCK TABLES `CUSTOMER_ORDER_LINE_ITEM` WRITE;
/*!40000 ALTER TABLE `CUSTOMER_ORDER_LINE_ITEM` DISABLE KEYS */;
/*!40000 ALTER TABLE `CUSTOMER_ORDER_LINE_ITEM` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ITEM`
--

DROP TABLE IF EXISTS `ITEM`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ITEM` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ITEM_NUMBER` int DEFAULT NULL,
  `NAME` varchar(255) DEFAULT NULL,
  `DESCRIPTION` varchar(255) DEFAULT NULL,
  `GENRE` varchar(255) DEFAULT NULL,
  `PLATFORM` varchar(255) DEFAULT NULL,
  `AVAILABLE_QUANTITY` int DEFAULT NULL,
  `UNIT_PRICE` double DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `ITEM_NUMBER` (`ITEM_NUMBER`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ITEM`
--

LOCK TABLES `ITEM` WRITE;
/*!40000 ALTER TABLE `ITEM` DISABLE KEYS */;
/*!40000 ALTER TABLE `ITEM` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PAYMENT_INFO`
--

DROP TABLE IF EXISTS `PAYMENT_INFO`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PAYMENT_INFO` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `HOLDER_NAME` varchar(255) DEFAULT NULL,
  `CARD_NUM` varchar(255) DEFAULT NULL,
  `EXP_DATE` varchar(255) DEFAULT NULL,
  `CVV` varchar(3) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PAYMENT_INFO`
--

LOCK TABLES `PAYMENT_INFO` WRITE;
/*!40000 ALTER TABLE `PAYMENT_INFO` DISABLE KEYS */;
INSERT INTO `PAYMENT_INFO` VALUES (1,'John Doe','1111 2222 3333 4444','12/25','123');
/*!40000 ALTER TABLE `PAYMENT_INFO` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SHIPPING_INFO`
--

DROP TABLE IF EXISTS `SHIPPING_INFO`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SHIPPING_INFO` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ADDRESS1` varchar(255) DEFAULT NULL,
  `ADDRESS2` varchar(255) DEFAULT NULL,
  `CITY` varchar(255) DEFAULT NULL,
  `STATE` varchar(255) DEFAULT NULL,
  `COUNTRY` varchar(255) DEFAULT NULL,
  `POSTAL_CODE` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SHIPPING_INFO`
--

LOCK TABLES `SHIPPING_INFO` WRITE;
/*!40000 ALTER TABLE `SHIPPING_INFO` DISABLE KEYS */;
/*!40000 ALTER TABLE `SHIPPING_INFO` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'decProject'
--

--
-- Dumping routines for database 'decProject'
--

--
-- Current Database: `decProject`
--

USE `decProject`;

--
-- Final view structure for view `ALL_CUSTOMER_ORDERS`
--

/*!50001 DROP VIEW IF EXISTS `ALL_CUSTOMER_ORDERS`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`decAdmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `ALL_CUSTOMER_ORDERS` AS select `CUSTOMER_ORDER`.`ID` AS `ID`,`CUSTOMER_ORDER`.`CUSTOMER_NAME` AS `CUSTOMER_NAME`,`CUSTOMER_ORDER`.`CUSTOMER_EMAIL` AS `CUSTOMER_EMAIL`,`CUSTOMER_ORDER`.`SHIPPING_INFO_ID_FK` AS `SHIPPING_INFO_ID_FK`,`CUSTOMER_ORDER`.`PAYMENT_INFO_ID_FK` AS `PAYMENT_INFO_ID_FK`,`CUSTOMER_ORDER`.`STATUS` AS `STATUS`,`CUSTOMER_ORDER`.`DELIVERY_DATE` AS `DELIVERY_DATE`,`CUSTOMER_ORDER`.`PAYMENT_CONFIRMATION_TOKEN` AS `PAYMENT_CONFIRMATION_TOKEN` from `CUSTOMER_ORDER` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-03 16:56:39
